{% extends 'base.html' %}

{% block title %}Todo Lists{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
            <a href="{% url 'todo_item_create' %}">Create a new item</a>
        </p>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of items</th>
            </tr>
            <tbody>
                {% for list in todo_list_list %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                    <td>{{ list.items.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
